@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Shykee\/Documents\/GitHub\/generator\/scss\/global\.scss}line{font-family:\000031}}
.error {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Shykee\/Documents\/GitHub\/generator\/scss\/global\.scss}line{font-family:\000035}}
#mainErrorMsg, #genInput, #resDiv {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Shykee\/Documents\/GitHub\/generator\/scss\/global\.scss}line{font-family:\000039}}
#genResult {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Shykee\/Documents\/GitHub\/generator\/scss\/global\.scss}line{font-family:\0000312}}
#genResult > textarea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0 none transparent;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: inherit;
  font-size: 1em;
}
